@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

#select-project {
    width: 50%;
}

.btn-primary {
    background-color: #D8AA92;
    border: 0px;
}

.navbar-brand img {
    width: 256px;
}

#btn-add:hover {
    background-color: #D8AA92;
    opacity: 0.5;
}

#btn-add-project:hover {
    background-color: #D8AA92;
    opacity: 0.5;
}

.navbar-brand {
    font-weight: bold;
}

#nav-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.badge {
    border: 0px;
    padding: 8px 6px;
}

article {
    border-radius: 12px;
}

#nav-container,
#jam {
    background-image: url("../img/bg-wood-banner.png");
}